nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 30px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-size: 600;
  color: antiquewhite;
}
#navbar li a:hover {
  color: aqua;
}
#mobile i {
  color: white;
}
#logo img {
  margin-top: 10px;
  border-radius: 40px;
  height: 50px;
}
.image-fluid {
  height: 100vh;
  width: 100%;
}
